---
import X from "../assets/svg/x.svg";
import Instagram from "../assets/svg/instagram.svg";
import Kick from "../assets/svg/kick.svg";
import Github from "../assets/svg/github.svg";
---

<footer class="flex flex-col justify-center items-center gap-8" >

  <div class="social-links flex gap-8">
    <a href="#" target="_blank"><X class="w-10 h-10" /></a>
    <a href="#" target="_blank"><Instagram class="w-10 h-10" /></a>
    <a href="#" target="_blank"><Kick class="w-10 h-10" /></a>
    <a href="#" target="_blank"><Github class="w-10 h-10" /></a>
  </div>
    <div class=" flex flex-col justify-center items-center">
      <p class="katina-regular text-2xl">© 2025 La Noche Dorada.</p>
  <p class="katina-regular text-2xl pb-20">Todos los derechos reservados.</p>
  </div>

</footer>
