---
import { SPONSORS } from "../consts/sponsors";
---

<section id="sponsors" class="mx-auto max-w-xl py-36">
  <h2 class="katina-regular [text-shadow:1px_2px_0px_#ffdf20] mb-4 text-6xl text-center">Patrocinadores</h2>
  <div class="grid justify-around gap-4 flex-wrap w-full">
    {
      SPONSORS.map(({ url, image, name }) => (
        <a
          href={url}
          target="_blank"
          class="size-10 hover:scale-125 transition text-[#008f39]"
        >
          <image.logo class="h-10 w-auto" />
        </a>
      ))
    }
  </div>
</section>
